<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<!-- Sidebar  -->
<nav id="sidebar">
    <div class="sidebar-header">

        <a href="/login">
            <h3>Admin Dashboard</h3>
        </a>


    </div>

    <ul class="list-unstyled components">
        <li class="active">
            <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                <i class="fas fa-home"></i>
                Products
            </a>
            <ul class="collapse list-unstyled" id="homeSubmenu">
                <li>
                    <a href="/home/addProduct">Add product</a>
                </li>
                <li>
                    <a href="/home/listProduct">View All Products</a>
                </li>
                <li>
                    <a href="/home/soldProducts">View Sold Products</a>
                </li>

            </ul>
        </li>


    </ul>


</nav>


<div id="content">

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a href="/login">
                <p style="color:black;float:right;">LOG OUT</p>
            </a>

            <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <i class="fas fa-align-justify"></i>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item active">
                        {{!-- <a class="nav-link" href="/login">Log out --}}

            </div>


        </div>
    </nav>
    <div class="content">
        <h3>{{viewTitle}}</h3>
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Product designation</th>
                        <th>Unit price</th>
                        <th>Quantity</th>


                    </tr>
                </thead>
                <tbody>
                    {{# each products }}

                    <tr>

                        <td>{{ this.item.title }}</td>
                        <td>{{ this.item.price }}</td>
                        <td>{{this.qty}}</td>




                    </tr>

                    {{/each}}
                </tbody>
            </table>



        </div>


    </div>







</div>